<!--<div class="myContainer">-->
<!--  <div class="context">-->
<!--    <nz-tabset [nzTabBarExtraContent]="extraTemplate">-->
<!--      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab + 'tab'">-->
<!--        Content of tab {{ tab }}-->
<!--      </nz-tab>-->
<!--    </nz-tabset>-->
<!--    <ng-template #extraTemplate>-->
<!--      <ng-container *ngIf="innerWidth > 600">-->
<!--        <button nz-button nz-dropdown nzType="primary" [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'"-->
<!--                nzShape="circle">-->
<!--          <i nz-icon nzType="plus-circle"></i>-->
<!--        </button>-->
<!--      </ng-container>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--  <button class="floatButton"-->
<!--          *ngIf="innerWidth < 600"-->
<!--          nz-button-->
<!--          nz-dropdown-->
<!--          nzType="primary" [nzDropdownMenu]="menu" [nzPlacement]="'topLeft'"-->
<!--          nzShape="circle">-->
<!--    <i nz-icon nzType="plus-circle"></i>-->
<!--  </button>-->

<!--  <nz-dropdown-menu #menu="nzDropdownMenu">-->
<!--    <ul nz-menu>-->
<!--      <li nz-menu-item>Scanner</li>-->
<!--      <li nz-menu-item>Enregistrer manuelle</li>-->
<!--    </ul>-->
<!--  </nz-dropdown-menu>-->
<!--</div>-->
<app-home-page></app-home-page>


<!--<router-outlet></router-outlet>-->
